$font:9vw;
$color:#1a4737;
$gray:#3f3b37;
$yellow: #e7aa2c;
$white: #fbefdf;
$red:#db4c44;



.sc-project{
    padding-bottom: 200px;
    @include tablet{
        padding-bottom: 100px;
    }
    @include mobile{
       padding-bottom: 50px;
    }
    h2.title{
        font-size: $font;
        margin-bottom: 50px;
        @include mobile{
          margin-bottom: 30px;
         }
        .tt-wrap{
            position: relative;
            overflow: hidden;
            @include tablet{
                overflow: visible;
            }
            .bar{
                width: 0;
                display: block;
                @include tablet{
                   width: 100%;
                }
            }
        }
        strong{
            display: block;
           padding: 10px 0;
           position: relative;
           transform: translateY(100%);
           @include tablet{
           transform: translateY(0);
        }
         @include mobile{
            padding: 5px 0;
         }
        }
        .sub-tt2{
            text-align: right;
            padding-right: 10px;
        }
        .sub-tt3{
            text-align: center;
        }
    }

    .project-wrap{
        display: grid;
        grid-template-columns: repeat(15,minmax(0,1fr));
        grid-gap: 20px;
        @include tablet{
            display: flex;
            flex-direction: column;
        }
        .item{
            display: block;
            border-bottom-right-radius: 2.8rem;
            height: 27rem;
            min-height: 16.8rem;
            overflow: hidden;
            position: relative;
            z-index: 1;
            border: 1px solid #000;
            @include mobile{
                height: 20rem;
             }
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                transition: scale .3s linear;
            }

            &:hover{
                .txt-box{
                   opacity: 0;
                }
                img{
                    scale: 1.05;
                }
                .hover-box{
                    transform: translateY(0);
                }
                .btn-info{
                        opacity: 1;
                }
            }

            .btn-info{
                position: absolute;
                font-size: 30px;
                color: #fff;
                opacity: 0;
                transition: opacity .3s linear; 
                position: absolute;
                top: 30px;right: 30px;
                display: block;
                border: 1px solid #000;
                background: $red;
                border-radius: 50px;
                width: 50px;
                height: 50px;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .info-box{
                position: absolute;
                top:0px;left:0px;
                padding: 80px 30px 0 30px;
                color: #000;
                font-size: 20px;
                width: 100%;
                height: calc(100% - 150px);
                background-color: #fff;
                opacity: 0;
                transition: opacity .2s linear;
                @include mobile{
                    height: calc(100% - 100px);
                }
                .if-title{
                    display: block;
                    font-weight: 600;
                    margin-bottom: 20px;
                    font-size: 25px;
                    @include mobile{
                       font-size: 20px;
                    }
                }
                .desc{
                    line-height: 1.3;
                    @include mobile{
                        font-size: 15px;
                     }
                }
            }
        }
        .grid{
            grid-column: auto/span 6;
        }
        .grid2{
            grid-column: auto/span 9;
        }
        
        .project-link7{
            grid-column: 7/span 9;
            .hover-box{
                background-color: $gray;
                color: #fff;
            }
        }
  

        .txt-box{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgb(4 30 0/.5);
            color: #fff;
            padding: 2rem;
            transition: all .3s linear; 
            @include mobile{
               padding: 1rem;
             }
            .pj-title{
                height: inherit;
                display: flex;
                align-items: end;
                justify-content: space-between;
                padding-bottom: 1rem;
                font-size: 35px;
                font-family: var(--font-en);
                letter-spacing: -.03em;
                @include mobile{
                    font-size: 20px;
                    padding-right: 10px;
                 }
            }
            .txt-top{
                display: flex;
                justify-content: space-between;
                font-size: 20px;
            }
            
        }
        .hover-box{
            width: 100%;
            line-height: 150px;
            transform: translateY(100%);
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            font-family: var(--font-en);
            letter-spacing: -.03em;
            transition:all .3s linear;
            &.gray{
                background-color: $gray;
                color: #fff;
            }
            &.yellow{background-color: $yellow;}
            &.red{background-color:$red; color: #fff;}
            @include mobile{
               line-height: 100px;
               transition:all .1s linear;
              }
    
        }

        .hover-txt{  
            z-index: 6; 
            font-size: 130px;
            white-space:nowrap;
            margin-right: 20px;
            
            @include keyframe (marquee) {
                0% { transform: translateX(0); }
                100% { transform: translateX(-100%); }
            }
            @include animate (marquee, 10s, linear, infinite);
            @include mobile{
               font-size: 70px;
               @include animate (marquee, 5s, linear, infinite);
             }
        }
        
    }
}
.sc-study{
    margin-bottom: 200px;
    @include tablet{
        margin-bottom: 100px;
    }
    @include mobile{
        margin-bottom: 50px;
    }
    .title-wrap{
        position: relative;
        .bar{
            width: 0;
            display: block;
            @include tablet{
                width: 100%;
            }
        }
    }
    .title{
        text-align: center;
        font-size: $font;
         margin-bottom: 50px;
         padding: 10px 0;
         overflow: hidden;
         @include mobile{
            margin-bottom: 20px;
         }
    }
    .info{
        margin-bottom: 50px;
        text-align: center;

        @include tablet{
            line-height: 1.2;
        }   

        @include mobile{
            font-size: 15px;
            line-height: 1.2;
            margin-bottom: 20px;
        }   
    }
    .link-wrap{
        display: flex;
        justify-content: center;
        gap: 20px;
        @include mobile{
          flex-direction: column;
          gap: 10px;
        }
    }
    .study-link{
        z-index: 1;
        border-radius: 30px;
        display: block;
        line-height: 30px;
        text-align: center;
        padding: 10px 45px;
        background-color: $gray;
        color: #fff;
        position: relative;
        overflow: hidden;
        transition: color .4s cubic-bezier(.215,.61,.355,1),background-color 0s;
        @include mobile{
            padding: 5px 0px;
            font-size: 15px;
            width: 150px;
            margin: 0 auto;
        }
        &:hover{
            color: $gray;
            transition-delay: 0s,.6s;
            &::after{
                transform: translateY(0);
            }
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $yellow;
            width: 300px;
            height: 60px;
            transform: translateY(100%);
            transition: transform .6s cubic-bezier(.215,.61,.355,1);
            z-index: -1;
            @include mobile{
                width: 150px;
            }
        }
        &.red{
            &:hover{
                color:#fff;
            }
            &::after{
                background-color: $red;
            }
        }
    }
    
}


.sc-contact{
    .contact-wrap{
        width: 100%;
        margin: 0 auto;
        border-top: 1px solid $gray;
        padding: 15px 0;
        color: $gray;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        > *{
            @include mobile{
                display: block;
                padding-bottom: 10px;
            }
        }
        @include mobile{
            display: block;
        }
    }
}
.btn-top{
    color: $gray;
    z-index: 10;
    font-weight: 200;
    font-size: 40px;
    position: fixed;
    border-radius: 50px;
    border: 1px solid $gray;
    right: 10px;
    bottom: 50px;
    width: 80px;
    height: 80px;
    background-color: rgb(231 170 44 /.7);
    margin-bottom: 50px;
    transform: rotate(-90deg);
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    @include mobile{
     width: 50px;
     height: 50px;
     font-size: 26px;
    }
    &.show{
        visibility: visible;
        opacity: 1;
    }

}









